<div class="container">
  <div class="container-inner inner-default clearfix">
    <% amazon_items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% img = item.get('LargeImage/URL') %>
            <% if img.present? %>
              <%= image_tag(img , alt: item.get('ItemAttributes/Title')) %>
            <% else %>
              <%= image_tag("no-image.png" , alt: item.get('ItemAttributes/Title')) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%=item.get('ItemAttributes/Title') %>
          </p>
        </div>
        <div class="action clearfix">
          
          <%# if false %>
          <%= link_to "" , ownerships_path(asin: item.get('ASIN') , type: "Want") ,
                      :class => "want-#{item.get('ASIN')} btn-want btn btn-danger btn-sm want",
                      :remote => true,
                      :method => :post %>
          <%= link_to "" , ownerships_path(asin: item.get('ASIN') , type: "Have") ,
                      :class => "have-#{item.get('ASIN')} btn-have btn btn-warning btn-sm have",
                      :remote => true,
                      :method => :post %>
          <%# end %>
          
          <!-- すみません。こっちで実行すると
               アイテムに正しく初期化されませんでした。
                異常データの削除が必要です。
                *Itemの asin のみ初期化で登録されてしまう。
          -->
          <%if false %>
          <% itm = Item.find_or_create_by(asin: item.get('ASIN')) %>
          <% if current_user.want?(itm) %>
            <%= render "unwant", item: itm %>
          <% else %>
            <%= render "want", item: itm %>
          <% end %>
          <% if current_user.have?(itm) %>
            <%= render "unhave", item: itm %>
          <% else %>
            <%= render "have", item: itm %>
          <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>